<!-- Products Start -->
<div class="container-fluid product py-5 my-5">
	<div class="container py-5">
		<div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
			<p class="fs-5 fw-medium fst-italic text-primary">
				{{ pimcore_input('description', { placeholder: 'Mô tả chính' }) }}
			</p>
			<h1 class="display-6">
				{{ pimcore_input('title', { placeholder: 'Tiêu đề chính' }) }}
			</h1>
		</div>
		
	</div>
</div>
<!-- Products End -->
