{% if editmode %}
	{{ include("includes/link.html.twig") }}
	{{ include("includes/script.html.twig") }}
{% endif %}

<!-- Navbar Start -->
<div class="container-fluid bg-white sticky-top">
	<div class="container">
		<nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
			<a href="index.html" class="navbar-brand">
				<img class="img-fluid" src="img/logo.png" alt="Logo">
			</a>
			
            {{ include("includes/navigation.html.twig") }}
		</nav>
	</div>
</div>
<!-- Navbar End -->
