<div class="owl-carousel product-carousel wow fadeInUp" data-wow-delay="0.5s">

    {% for product in products %}

        {% if product is not none %}

            {{ include("components/product/item.html.twig") }}
            
        {% endif %}
        
    {% endfor %}

</div>